body {
  background-color: hsl(217, 19%, 24%);
}

.card {
  background-color: hsl(217, 19%, 38%);
  padding: 40px;
  margin: 25% auto 0;
  width: auto;
  width: 450px;
  border-radius: 15px;
  color: hsl(193, 38%, 86%);
  
}