body {
  background-color:grey;
  box-sizing: border-box;
}

.card {
  position: relative;
  background-color:hsl(217, 19%, 24%);
  padding: 40px;
  margin: 300px auto 0;
  width: auto;
  width: 470px;
  border-radius: 15px;
  text-align: center;
  color: hsl(193, 38%, 86%);
  font-family: 'Manrope';
  font-weight: 800;

  @media screen and (max-width: 600px) {
    width: auto;
    margin: 150px 0px;
    padding: 40px 15px;
  }

  &-id {
    padding-bottom: 30px;
    text-transform: uppercase;
    color: hsl(150, 100%, 66%);
    letter-spacing: 0.4em;
    font-size: 14px;
  }

  &-advice{
    font-size: 28px;

    @media screen and (max-width: 600px) {
        font-size: 18px;
    }
  }

  &-divider-mobile {
    margin: 0 auto;
    padding: 40px 0 30px 0;
    display: none;
    @media screen and (max-width: 600px) {
      display: block;
    }
  }

  &-divider-desktop{
    margin: 0 auto;
    padding: 40px 0 30px 0;
    display: block;
    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  &-dice {
    cursor: pointer;
    background-color: hsl(150, 100%, 66%);
    width: 70px;
    height: 70px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -33px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.1s;

    &:hover {
      @media screen and (min-width: 600px) {
        box-shadow: 0px 0px 30px 5px hsl(150, 100%, 66%);
      }
      
    }
  }
  
}